/*
Main colors used:
#464543 
 - 

/*=== Setup ===*/
body{
	background: url(grey/bgr.gif) #f9faf4 repeat-x top;
	color: #555555;
}
a{
	color: #464543;
}
input,select,textarea{
	border: #e6e6e6 1px solid;
}
h2{
	color: #262625;
}
h2 a{
	color: #262625
}
h3{
	color: #262625;
}
h4{
	color: #444444;
}

/*=== Intro ===*/
p.intro a {
	color:#FFFFFF;
}
p.intro a:hover {
	color:#222222;
}

/*=== Buttons ===*/

.btn-rounded a{
	background: url(grey/btn-rounded.gif) no-repeat left;
	color: #ffffff;
}
.btn-rounded a span{
	background: url(grey/btn-rounded.gif) no-repeat right;
}
.btn {
	background:url(grey/btn.gif) repeat-x;
	border:1px solid #464543;
 	color:#FFF;
}

/*=== Navigation ===*/
/*- Nav1 -*/
#nav1 li a{
	color: #3f3f3f;
}
#nav1 li a:hover,
#nav1 li.active a, #nav1 li.current_page_item a{
	background: url(grey/btn-rounded.gif) no-repeat left;
	color: #ffffff;
}
#nav1 li.active a span,
#nav1 li.current_page_item a span,
#nav1 li a:hover span{
	background: url(grey/btn-rounded.gif) no-repeat right
}

/*- Nav2 -*/
.nav2 li a, .widget li a{
	color: #555555;
}
.nav2 li a:hover, .widget li a:hover{
	color: #464543;
}

/*=== Right Column ===*/
#rightcol h3, #rightcol h3 a{
	color: #ffffff;
}
#rightcol h3 span{
	background: #D0D0CD;
}
#rightcol .widget ul, #rightcol .textwidget 
{
	background: #efefed;
}

/*=== Sub Columns ===*/
.col1 a{
	color: #555555;
}
.col3 h2{
	color: #464646;
}
.col5 img{
	border: 10px solid #f6f5ed;
}

/*=== Styling Boxes ===*/
/*- Box1 -*/
.box .top,.box .bot{
	background: url(grey/box-top.gif) no-repeat top;
}
.box .bot{
	background: url(grey/box-bot.gif) no-repeat top
}
.box .spacer{
	background: #ffffff;
}
/*- Box2 -*/
.box2 .top,.box2 .bot{
	background: url(grey/box2-top.gif) no-repeat top;
}
.box2 .bot{
	background: url(grey/box2-bot.gif) no-repeat top
}
.box2 .spacer{
	background: #e4e4e0;
}
/*- Box3 -*/
.box3 .top,.box3 .bot{
	background: url(grey/box3-top.gif) no-repeat top;
}
.box3 .bot{
	background: url(grey/box3-bot.gif) no-repeat top
}
.box3 .spcr{
	background: #efefed;
}
/*- Box4 -*/
.box4{
	color: #ffffff;
}
.box4 .top,.box4 .bot{
	background: url(grey/box4-top.gif) no-repeat top;
}
.box4 .bot{
	background: url(grey/box4-bot.gif) no-repeat top
}
.box4 .spacer{
	background: #464543;
}
/*- Box5 -*/
.box5 .top,.box5 .bot{
	background: url(grey/box5-top.gif) no-repeat top;
}
.box5 .bot{
	background: url(grey/box5-bot.gif) no-repeat top
}
.box5 .spacer{
	background: url(grey/box5-bgr.gif) repeat-y top;
}
/*- Box6 -*/
.box6 .top,.box6 .bot{
	background: url(grey/box6-top.gif) no-repeat top;
}
.box6 .bot{
	background: url(grey/box6-bot.gif) no-repeat top
}
.box6 .spacer{
	background: #e4e4e0;
}

/*- Date -*/
.date{
	color: #898989;
}

/*=== Styling Forms ===*/
/*- Search -*/
#search input.keyword{
	background: #d0d0cd;
	border-bottom: 1px solid #fcfcfa;
	border-top: 1px solid #c4c2b5;
	border-left: 1px solid #c4c2b5;
}

/*- Form1 Setup -*/
.btn-general{
	background: #464543;
	color: #ffffff;	
}
.btn-general a { 
	color: #ffffff;
}
.btn-arr a{
	background: #d0d0cd;
	color: #ffffff;
}

/*=== Footer ===*/
#footer a{
	color: #949387;
}

/*=== Posts ===*/
.post img {	
	border:8px solid #f6f5ed;
}
.post li a:hover{
	color: #464543;
}
.post blockquote {
	font-family:Georgia, "Times New Roman", Times, serif; color:#777777;
	background:#f9faf4 url(grey/ico-quote-grey.gif) no-repeat 10px 10px;
	border-top:1px solid #e4e4e0;
	border-bottom:1px solid #e4e4e0;	
}

/*=== Widget styling ===*/
.widget #recentcomments li a{
	color: #464543;
}
.widget #recentcomments li a:hover{
	color: #464543;
}
.widget #searchform, .widget #calendar_wrap{
	background: #efefed;
}
.widget #wp-calendar caption {
	color:#333333;
}
.widget #wp-calendar thead th {
	color:#333333;
}
.widget #wp-calendar tfoot td a {
	color:#333333;	
}
.quote {
	background:url(grey/ico-quote.gif) no-repeat top left;
}
